In [62]:
import pandas as pd
import numpy as np
import re
from helpers import *

In [63]:
df = pd.read_csv(access_folder(folder_name='generated') + 'tweets_n_hashtags.csv', index_col = 0)

In [64]:
import ast
df.tweet_text = df.tweet_text.apply(ast.literal_eval)

In [75]:
df.columns = ['Topic', 'tweet_text']
df.head()

   Topic                                         tweet_text
33  News             [john, carroll, university, get, gift]
34  News      [spring, cook, book, healthy, chocolate, bar]
37  News  [rocky, river, prepare, more, flooding, city, ...
39  News  [forecast, cooler, mid, week, cooler, isolated...
40  News       [brother, farook, decorate, veteran, killer]

In [78]:
realHashes = pd.read_csv('hashtagsIndices.csv', index_col=0,  header=None)
realHashes.columns = ['Hashtags']
realHashes.head()

   Hashtags
0
33     news
34    local
37     news
39     news
40  TopNews

In [81]:
df['hashtag'] = realHashes
df.head(20)

,Topic,tweet_text,hashtag
33,News,"[john, carroll, university, get, gift]",news
34,News,"[spring, cook, book, healthy, chocolate, bar]",local
37,News,"[rocky, river, prepare, more, flooding, city, ...",news
39,News,"[forecast, cooler, mid, week, cooler, isolated...",news
40,News,"[brother, farook, decorate, veteran, killer]",TopNews
42,News,"[arrest, connection, art, festival, theft, arr...",news
44,News,"[director, craven, die, scream, filmmaker, die...",news
45,Sports,"[secretariat, dominate, american, pharoah, bel...",sports
46,News,"[black, box, miss, german, airline, crash]",local
48,Sports,"[dale, earnhardt, get, engage, girlfriend, amy...",sports
50,Sports,"[brown, mingo, undergo, surgery, brown, lineba...",sports
51,News,"[avenger, explode, thursday]",local
52,Crime,"[clean, sweep, vacuum, cleaner, thief, mayfiel...",crime
53,News,"[state, senate, expect, vote, common, core, bill]",local
56,Sports,"[johns, take, trust, new, report, look, nfls, ...",sports
57,Crime,"[cleveland, height, police, look, man, shot, h...",crime
58,Crime,"[medina, man, use, trash, hide, smell, daughte...",crime
60,Entertainment,"[best, cast, director]",MyEmmyNominationWouldBe
67,Entertainment,"[take, hand, add, plan]",rap
71,Anti-Trump,"[voting, voting, gop, nominee, vote, htt]",NeverHillary

#### build hashtag to topic table

In [95]:
hash2topic = {
    'news':'News',
    'local':'News',
    'isis':'News',
    'world':'News',
    'breaking':'News',
    'business':'News',
    'TopNews':'News',
    'Breaking':'News',
    'money':'News',
    'FukushimaAgain':'Fukushima',
    'Fukushima2015':'Fukushima',
    'FUKUSHIMA2015':'Fukushima',
    'fukushima2015':'Fukushima',
    'crime':'Crime',
    'PoliceBrutality':'Crime',
    'NRA':'Patriot',
    'USFA':'Patriot',
    'nra':'Patriot',
    'pjnet':'Patriot',
    'PJNET':'Patriot',
    'ArmyWomenProblems':'Patriot',
    '2A':'Patriot',
    'ISIS':'Anti-Islam',
    'IslamKills':'Anti-Islam',
    'StopIslam':'Anti-Islam',
    'Hillary':'Anti-Trump',
    'ThingsMoreTrustedThanHillary':'Anti-Trump',
    'NeverHillary':'Anti-Trump',
    'ARRESTObama':'Anti-Trump',
    'LockHerUp':'Anti-Trump',
    'ObamaWishlist':'Anti-Trump',
    'Obama':'Anti-Trump',
    'ObamaLameDuck':'Anti-Trump',
    'CrookedHillary':'Anti-Trump',
    'isis':'Foreign Countries',
    'Syria':'Foreign Countries',
    'Turkey':'Foreign Countries',
    'nukraine':'Foreign Countries',
    'Brussels':'Foreign Countries',
    'Russia':'Foreign Countries',
    'Iraq':'Foreign Countries',
    'entertainment':'Entertainment',
    'celebs':'Entertainment',
    'NowPlaying':'Entertainment',
    'Showbiz':'Entertainment',
    'RAP':'Entertainment',
    'life':'Entertainment',
    'Music':'Entertainment',
    'showbiz':'Entertainment',
    'MyEmmyNominationWouldBe':'Entertainment',
    'soundcloud':'Entertainment',
    'IHatePokemonGoBecause':'Entertainment',
    'iTunes':'Entertainment',
    'rap':'Entertainment',
    'BlackLivesMatter':'Black Support',
    'BlackTwitter':'Black Support',
    'blacklivesmatter':'Black Support',
    'BlackHistoryMonth':'Black Support',
    'BlackSkinIsNotACrime':'Black Support',
    'BLM':'Black Support',
    'BlackToLive':'Black Support',
    'blacktwitter':'Black Support',
    'blacktolive':'Black Support',
    'ICelebrateTrumpWith':'Trump Support',
    'MAGA':'Trump Support',
    'WakeUpAmerica':'Trump Support',
    'MakeAmericaGreatAgain':'Trump Support',
    'TrumpTrain':'Trump Support',
    'Trump2016':'Trump Support',
    'maga':'Trump Support',
    'tcot':'Trump Support',
    'TCOT':'Trump Support',
    'GOP':'Trump Support',
    'GOPDebate':'Trump Support',
    'ccot':'Trump Support',
    'AmericaFirst':'Trump Support',
    'TrumpForPresident':'Trump Support',
    'TrumpBecause':'Trump Support',
    'health':'Health',
    'environment':'Health',
    'sports':'Sports',
    'hockey':'Sports',
    'Hockey':'Sports',
    'baseball':'Sports',
    'Sports':'Sports',
    'MyOlympicSportWouldBe':'Sports',
}

In [83]:
hash2topicDF = pd.DataFrame(list(hash2topic.values()), list(hash2topic.keys()))

In [84]:
hash2topicDF.columns = ['category']
hash2topicDF.category.value_counts().sum()

80

In [96]:
df['NewCategories']=df.hashtag.apply(lambda x: hash2topic[x])

In [102]:
df = df.drop('NewCategories', axis=1)
df.head()

   Topic                                         tweet_text  hashtag
33  News             [john, carroll, university, get, gift]     news
34  News      [spring, cook, book, healthy, chocolate, bar]    local
37  News  [rocky, river, prepare, more, flooding, city, ...     news
39  News  [forecast, cooler, mid, week, cooler, isolated...     news
40  News       [brother, farook, decorate, veteran, killer]  TopNews

In [103]:
df.to_csv('tweets_n_hashtags.csv')

In [104]:
df.shape

(738502, 3)