In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

from helpers import *
plotly.tools.set_credentials_file(username='Flavioh', api_key='Io0YLHDKoqhuWXhgRAIE')

# New dataset problems:

### User names with less than 5k followers are encripted
This means that it will be hard to link these users to the authors of the old dataset, the **solution** could be to match the encripted users with their tweets and then look for identical tweets in between the two datasets, in this way we could trace back the names of the encripted users

###### Merging tweet contents and users from new dataset and saving it

In [ ]:
#just picking the tweetid and userid from the tweet stats dataset.
tweet_stats = pd.read_csv(access_folder('data') + 'rus_troll_tweet_stats.csv', usecols=[0,1])

In [ ]:
tweet_stats = tweet_stats.set_index('tweetid')
tweet_stats.head()

In [ ]:
#loading tweet content dataset 
tweet_text = pd.read_csv(access_folder('data') + 'rus_troll_tweet_text.csv')

In [ ]:
tweet_text = tweet_text.set_index('tweetid')
tweet_text.head()

In [ ]:
#merging two datasets by tweetid
merged = tweet_text.join(tweet_stats)
merged.head()

In [ ]:
merged = merged.reset_index()

In [ ]:
merged.tweet_text = merged.tweet_text.astype(str)
merged = merged.drop('tweet_language', axis = 1)

In [ ]:
merged.to_csv(access_folder('generated')+'merged_tweets.csv')

###### CAN START FROM HERE --- Loading all old dataset's tweets and merging with the just created dataset
now we must perform a merge between tweets (*good luck*)

In [2]:
merged = pd.read_csv(access_folder('generated') + 'merged_tweets.csv')

tweets1 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_1.csv', usecols=[1,2])
tweets2 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_2.csv', usecols=[1,2])
tweets3 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_3.csv', usecols=[1,2])
tweets4 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_4.csv', usecols=[1,2])
tweets5 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_5.csv', usecols=[1,2])
tweets6 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_6.csv', usecols=[1,2])
tweets7 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_7.csv', usecols=[1,2])
tweets8 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_8.csv', usecols=[1,2])
tweets9 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_9.csv', usecols=[1,2])

tweets = pd.concat([tweets1,tweets2,tweets3,tweets4,tweets5,tweets6,tweets7,tweets8,tweets9], axis=0)

In [3]:
tweets.rename(columns = {'content': 'tweet_text'}, inplace=True)
tweets.tweet_text = tweets.tweet_text.astype(str)
tweets.head()

   author                                         tweet_text
0  10_GOP  "We have a sitting Democrat US Senator on tria...
1  10_GOP  Marshawn Lynch arrives to game in anti-Trump s...
2  10_GOP  Daughter of fallen Navy Sailor delivers powerf...
3  10_GOP  JUST IN: President Trump dedicates Presidents ...
4  10_GOP  19,000 RESPECTING our National Anthem! #StandF...

In [5]:
tweets.shape

(2973371, 2)

In [20]:
merged.shape

(9041308, 4)

In [16]:
final = tweets.merge(merged, on='tweet_text', how='inner')

In [17]:
final.shape

(2970113, 5)

In [18]:
final.head()

,author,tweet_text,Unnamed: 0,tweetid,userid
0,10_GOP,"""We have a sitting Democrat US Senator on tria...",119950,914580356430536707,905874659358453760
1,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,6874531,914621840496189440,905874659358453760
2,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,3197125,913231923715198976,905874659358453760
3,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,3197125,913231923715198976,905874659358453760
4,10_GOP,JUST IN: President Trump dedicates Presidents ...,2477416,914639143690555392,905874659358453760

In [21]:
final = final.drop(['tweet_text', 'Unnamed: 0', 'tweetid'],axis=1)

In [33]:
authorToUserid_dict = final.drop_duplicates()
authorToUserid_dict[authorToUserid_dict.userid == '2808833544']

                  author      userid
7062       5EMEN5EMENICH  2808833544
7063     ARTEMMPLOTNIKOV  2808833544
7064     CHRNIKALERONICA  2808833544
7065        IRINA_GOOOOR  2808833544
7066          LATTECHEEK  2808833544
7067        MAXDEMENTIEV  2808833544
7068               MX_JT  2808833544
7069     NATASHAPAVLOVAA  2808833544
7070        POLLLYPOLLLY  2808833544
7071         SLAVINAOKSI  2808833544
7072           YKUDAJ681  2808833544
7085       ADAMMA_DEFOND  2808833544
7086        ARONS_KWENDE  2808833544
7087         CALKINDENIS  2808833544
7088     CRAZYCRETACEOUS  2808833544
7089         ERMASHOVA90  2808833544
7090        GORBENKOVAA_  2808833544
7091      KILLMEPLSAGAIN  2808833544
7092       KOSTYAERMILIN  2808833544
7093           LERACRUZE  2808833544
7095          OILUGII69I  2808833544
7096     POLIPROPILENOVA  2808833544
7097      POLITICS__2014  2808833544
7426             5L5_5L5  2808833544
7427        FILIPPGRIGOR  2808833544
8233     AAAVADAKEDAVRAA  2808833544
8234        LARISAPYLEVA  2808833544
8236           MILA_NORD  2808833544
8237         NONNAISAEVA  2808833544
8238     SEREGA0VLADIMIR  2808833544
...                  ...         ...
2127825     LAVROVMUESLI  2808833544
2142461        NEMOVVOVA  2808833544
2142462    SEVAS_INOKENT  2808833544
2169393    MAMA_RUSSLAND  2808833544
2179162       MARISHA_ZU  2808833544
2192735       SEM_VADIKK  2808833544
2193020  SVETZVEZDABALET  2808833544
2193045       SLEVIN_324  2808833544
2193071  RUSSIANMONSTER7  2808833544
2193072        ZLOBUCHKA  2808833544
2193370           VLD_AM  2808833544
2193376      NIKOLAY_LEV  2808833544
2193414     PAVEL_ILNSKY  2808833544
2193418     SERSAFRONOFF  2808833544
2193420      SLAVNIKONOV  2808833544
2193648        ROGOVILIA  2808833544
2193971       MED_HARLEY  2808833544
2193991      OPERATOR_SO  2808833544
2194171       ZOTOVA_UNO  2808833544
2194180       MMMAAAASHU  2808833544
2194217         VATNITSA  2808833544
2194272   PROKOFIEVKONST  2808833544
2194337    RUSLANVAXIDOV  2808833544
2194338       TRUSBALBES  2808833544
2194351     NATALI_BEAST  2808833544
2194723       POLITVLAST  2808833544
2195262      NDR_BOLOZYB  2808833544
2195628    MYQUICKSILVER  2808833544
2195633   SBORISOGLEBSKY  2808833544
2968663         _MARK__B  2808833544

[627 rows x 2 columns]

In [ ]:
tweet_users = pd.read_csv(access_folder('data') + 'rus_troll_user.csv')
tweet_users.tail()

In [ ]:
tweet_users.user_display_name.apply(lambda x:len(x)).hist()

In [ ]:
for i in tweet_users.user_screen_name.apply(lambda x: x if len(x)<60 else np.nan).dropna():
    print(i)