In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from helpers import *

# New dataset problems:

### User names with less than 5k followers are encripted
This means that it will be hard to link these users to the authors of the old dataset, the **solution** could be to match the encripted users with their tweets and then look for identical tweets in between the two datasets, in this way we could trace back the names of the encripted users

###### Merging tweet contents and users from new dataset and saving it

In [73]:
#just picking the tweetid and userid from the tweet stats dataset.
tweet_stats = pd.read_csv(access_folder('data') + 'rus_troll_tweet_stats.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning:

Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.

In [74]:
tweet_stats = tweet_stats.set_index('tweetid')
tweet_stats.head()

,userid,tweet_time,in_reply_to_tweetid,in_reply_to_userid,quoted_tweet_tweetid,is_retweet,retweet_userid,retweet_tweetid,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
tweetid,,,,,,,,,,,,,,,,
877919995476496385,249064136b1c5cb00a705316ab73dd9b53785748ab757f...,2017-06-22 16:03,NaN,NaN,NaN,True,2572896396,8.779172e+17,0,0,0,0,[],[http://ru-open.livejournal.com/374284.html],[2572896396],NaN
492388766930444288,0974d5dbee4ca9bd6c3b46d62a5cbdbd5c0d86e196b624...,2014-07-24 19:20,NaN,NaN,NaN,False,NaN,NaN,0,0,0,0,NaN,[http://pyypilg33.livejournal.com/11069.html],NaN,NaN
719455077589721089,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,2016-04-11 09:20,7.194399e+17,40807205,NaN,False,NaN,NaN,0,0,0,0,[],[https://www.youtube.com/watch?v=9GvpImWxTJc],[40807205],NaN
536179342423105537,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,2014-11-22 15:28,NaN,NaN,NaN,False,NaN,NaN,0,0,0,0,[STOPNazi],NaN,NaN,NaN
841410788409630720,a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...,2017-03-13 22:08,NaN,NaN,NaN,False,NaN,NaN,0,0,3,4,[],[https://goo.gl/fBp94X],NaN,NaN

In [75]:
#loading tweet content dataset 
tweet_text = pd.read_csv(access_folder('data') + 'rus_troll_tweet_text.csv')

In [76]:
tweet_text = tweet_text.set_index('tweetid')
tweet_text.head()

,tweet_language,tweet_text
tweetid,,
877919995476496385,ru,RT @ruopentwit: ⚡️У НАС НОВОЕ ВИДЕО! Американе...
492388766930444288,ru,Серебром отколоколило http://t.co/Jaa4v4IFpM
719455077589721089,bg,@kpru С-300 в Иране https://t.co/elnu3qLUW7
536179342423105537,ru,"Предлагаю судить их за поддержку нацизма, т.к...."
841410788409630720,bg,Предостережение американского дипломата https:...

In [77]:
#merging two datasets by tweetid
merged = tweet_text.join(tweet_stats)
merged.head()

,tweet_language,tweet_text,userid,tweet_time,in_reply_to_tweetid,in_reply_to_userid,quoted_tweet_tweetid,is_retweet,retweet_userid,retweet_tweetid,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
tweetid,,,,,,,,,,,,,,,,,,
877919995476496385,ru,RT @ruopentwit: ⚡️У НАС НОВОЕ ВИДЕО! Американе...,249064136b1c5cb00a705316ab73dd9b53785748ab757f...,2017-06-22 16:03,NaN,NaN,NaN,True,2572896396,8.779172e+17,0,0,0,0,[],[http://ru-open.livejournal.com/374284.html],[2572896396],NaN
492388766930444288,ru,Серебром отколоколило http://t.co/Jaa4v4IFpM,0974d5dbee4ca9bd6c3b46d62a5cbdbd5c0d86e196b624...,2014-07-24 19:20,NaN,NaN,NaN,False,NaN,NaN,0,0,0,0,NaN,[http://pyypilg33.livejournal.com/11069.html],NaN,NaN
719455077589721089,bg,@kpru С-300 в Иране https://t.co/elnu3qLUW7,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,2016-04-11 09:20,7.194399e+17,40807205,NaN,False,NaN,NaN,0,0,0,0,[],[https://www.youtube.com/watch?v=9GvpImWxTJc],[40807205],NaN
536179342423105537,ru,"Предлагаю судить их за поддержку нацизма, т.к....",bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,2014-11-22 15:28,NaN,NaN,NaN,False,NaN,NaN,0,0,0,0,[STOPNazi],NaN,NaN,NaN
841410788409630720,bg,Предостережение американского дипломата https:...,a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...,2017-03-13 22:08,NaN,NaN,NaN,False,NaN,NaN,0,0,3,4,[],[https://goo.gl/fBp94X],NaN,NaN

In [78]:
merged = merged.reset_index()
merged.shape

(9041308, 19)

In [79]:
merged = merged[merged['tweet_language'] == 'en']
merged.shape

(3261931, 19)

In [80]:
def series_string_to_datetime (series):
    format_str = '%Y-%m-%d %H:%M' # The format
    return series.apply(lambda x: datetime.datetime.strptime(x, format_str))

merged['tweet_time'] = series_string_to_datetime(merged['tweet_time'])

In [81]:
merged = merged[merged['tweet_time'] <= datetime.date(2016,11,8)]
merged.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:

Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

(2129332, 19)

In [82]:
meta_data = pd.read_csv(access_folder() + 'rus_troll_tweet_metadata.csv')
meta_data.head()

,tweetid,follower_count,following_count,latitude,longitude,tweet_client_name
0,849295393867399169,4042,1470,NaN,NaN,Twitter Web Client
1,567280957913587713,272,390,NaN,NaN,iziaslav
2,493095247690612736,89,223,NaN,NaN,vavilonX
3,493892174069903360,89,223,NaN,NaN,vavilonX
4,512503798506721280,89,223,NaN,NaN,vavilonX

In [83]:
merged = merged.set_index('tweetid').join(meta_data.set_index('tweetid')[['follower_count', 'following_count']], on='tweetid', how='inner')
merged.columns

Index(['tweet_language', 'tweet_text', 'userid', 'tweet_time',
       'in_reply_to_tweetid', 'in_reply_to_userid', 'quoted_tweet_tweetid',
       'is_retweet', 'retweet_userid', 'retweet_tweetid', 'quote_count',
       'reply_count', 'like_count', 'retweet_count', 'hashtags', 'urls',
       'user_mentions', 'poll_choices', 'follower_count', 'following_count'],
      dtype='object')

In [84]:
merged = merged.reset_index()

In [85]:
user_data = pd.read_csv(access_folder('data') + 'rus_troll_user.csv')
user_data.head()

,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,account_creation_date,account_language,follower_count,following_count,last_tweet_at
0,004c1875a5f3a8ddfd2044b857a81c5d458882ac5cdf67...,004c1875a5f3a8ddfd2044b857a81c5d458882ac5cdf67...,004c1875a5f3a8ddfd2044b857a81c5d458882ac5cdf67...,New York,NaN,NaN,2014-05-23,en,63,77,2014-09-18 08:18
1,005b6c0f7e3371b1cacced2890fead3d5543694ab21372...,005b6c0f7e3371b1cacced2890fead3d5543694ab21372...,005b6c0f7e3371b1cacced2890fead3d5543694ab21372...,"New York, NY",NaN,NaN,2014-08-05,en,112,153,2015-11-27 00:57
2,005c20d3604f7b90f0d5b22f60226d60cfd9c7bdf5c728...,005c20d3604f7b90f0d5b22f60226d60cfd9c7bdf5c728...,005c20d3604f7b90f0d5b22f60226d60cfd9c7bdf5c728...,"Macon, GA",NaN,NaN,2016-04-14,en,64,825,2016-05-10 16:52
3,00b6194ca3359e2f37000037e20223ee91cfffcf15c7b9...,00b6194ca3359e2f37000037e20223ee91cfffcf15c7b9...,00b6194ca3359e2f37000037e20223ee91cfffcf15c7b9...,"Хабаровск, Россия",Непрост,NaN,2013-11-11,ru,181,255,2016-09-23 09:14
4,00bd49f19d4096b1f47e6e7702dddd746cf7021795f234...,00bd49f19d4096b1f47e6e7702dddd746cf7021795f234...,00bd49f19d4096b1f47e6e7702dddd746cf7021795f234...,United States,NaN,NaN,2014-05-15,en,71,81,2015-11-27 03:28

In [86]:
merged = merged.set_index('userid').join(user_data.set_index('userid')[['last_tweet_at']], on='userid', how='inner')
merged.head()

,tweetid,tweet_language,tweet_text,tweet_time,in_reply_to_tweetid,in_reply_to_userid,quoted_tweet_tweetid,is_retweet,retweet_userid,retweet_tweetid,...,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices,follower_count,following_count,last_tweet_at
userid,,,,,,,,,,,,,,,,,,,,,
2b0d7525bed1df5119b7956f9be4888b45686172d68006a90634e87952eb45d3,567357519547207680,en,"As sun and cloud give way to moon and shadow, ...",2015-02-16 16:19:00,NaN,NaN,NaN,False,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,696,863,2016-01-17 17:50
2b0d7525bed1df5119b7956f9be4888b45686172d68006a90634e87952eb45d3,592350594255310849,en,The Brakfast Club #FattenAMovie http://t.co/7A...,2015-04-26 15:32:00,NaN,NaN,NaN,False,NaN,NaN,...,0,0,1,[FattenAMovie],[],NaN,NaN,696,863,2016-01-17 17:50
2b0d7525bed1df5119b7956f9be4888b45686172d68006a90634e87952eb45d3,563965952543322113,en,@the_hindu @Esha__Sharma Rly want to watch the...,2015-02-07 07:42:00,5.639580e+17,20751449,NaN,False,NaN,NaN,...,0,0,0,NaN,NaN,"[273384614, 20751449]",NaN,696,863,2016-01-17 17:50
2b0d7525bed1df5119b7956f9be4888b45686172d68006a90634e87952eb45d3,555644446184722432,en,Best notebook scenes http://t.co/EVQBLVDQyt,2015-01-15 08:35:00,NaN,NaN,NaN,False,NaN,NaN,...,0,1,0,NaN,[http://youtu.be/9eACebMOtv8],NaN,NaN,696,863,2016-01-17 17:50
2b0d7525bed1df5119b7956f9be4888b45686172d68006a90634e87952eb45d3,568756240345509888,en,The hardest part about growing up is letting g...,2015-02-20 12:57:00,NaN,NaN,NaN,False,NaN,NaN,...,0,0,0,[],[],NaN,NaN,696,863,2016-01-17 17:50

In [87]:
merged.reset_index(inplace=True)

In [88]:
merged.head()

,userid,tweetid,tweet_language,tweet_text,tweet_time,in_reply_to_tweetid,in_reply_to_userid,quoted_tweet_tweetid,is_retweet,retweet_userid,...,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices,follower_count,following_count,last_tweet_at
0,2b0d7525bed1df5119b7956f9be4888b45686172d68006...,567357519547207680,en,"As sun and cloud give way to moon and shadow, ...",2015-02-16 16:19:00,NaN,NaN,NaN,False,NaN,...,0,0,0,NaN,NaN,NaN,NaN,696,863,2016-01-17 17:50
1,2b0d7525bed1df5119b7956f9be4888b45686172d68006...,592350594255310849,en,The Brakfast Club #FattenAMovie http://t.co/7A...,2015-04-26 15:32:00,NaN,NaN,NaN,False,NaN,...,0,0,1,[FattenAMovie],[],NaN,NaN,696,863,2016-01-17 17:50
2,2b0d7525bed1df5119b7956f9be4888b45686172d68006...,563965952543322113,en,@the_hindu @Esha__Sharma Rly want to watch the...,2015-02-07 07:42:00,5.639580e+17,20751449,NaN,False,NaN,...,0,0,0,NaN,NaN,"[273384614, 20751449]",NaN,696,863,2016-01-17 17:50
3,2b0d7525bed1df5119b7956f9be4888b45686172d68006...,555644446184722432,en,Best notebook scenes http://t.co/EVQBLVDQyt,2015-01-15 08:35:00,NaN,NaN,NaN,False,NaN,...,0,1,0,NaN,[http://youtu.be/9eACebMOtv8],NaN,NaN,696,863,2016-01-17 17:50
4,2b0d7525bed1df5119b7956f9be4888b45686172d68006...,568756240345509888,en,The hardest part about growing up is letting g...,2015-02-20 12:57:00,NaN,NaN,NaN,False,NaN,...,0,0,0,[],[],NaN,NaN,696,863,2016-01-17 17:50

In [89]:
merged.tweet_text = merged.tweet_text.astype(str)
merged = merged.drop('tweet_language', axis = 1)

In [90]:
merged.to_csv(access_folder('generated')+'merged_tweets.csv')

###### CAN START FROM HERE --- Loading all old dataset's tweets and merging with the just created dataset
now we must perform a merge between tweets (*good luck*)

In [110]:
#merged = pd.read_csv(access_folder('generated') + 'merged_tweets.csv')

tweets1 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_1.csv')
tweets2 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_2.csv')
tweets3 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_3.csv')
tweets4 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_4.csv')
tweets5 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_5.csv')
tweets6 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_6.csv')
tweets7 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_7.csv')
tweets8 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_8.csv')
tweets9 = pd.read_csv(access_folder('data') + 'IRAhandle_tweets_9.csv')

tweets = pd.concat([tweets1,tweets2,tweets3,tweets4,tweets5,tweets6,tweets7,tweets8,tweets9], axis=0)

In [111]:
tweets = tweets[['author', 'content', 'language', 'publish_date', 'following', 'followers', 'post_type', 'account_category']]
tweets.head()

,author,content,language,publish_date,following,followers,post_type,account_category
0,10_GOP,"""We have a sitting Democrat US Senator on tria...",English,10/1/2017 19:58,1052,9636,NaN,RightTroll
1,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,English,10/1/2017 22:43,1054,9637,NaN,RightTroll
2,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,English,10/1/2017 22:50,1054,9637,RETWEET,RightTroll
3,10_GOP,JUST IN: President Trump dedicates Presidents ...,English,10/1/2017 23:52,1062,9642,NaN,RightTroll
4,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",English,10/1/2017 2:13,1050,9645,RETWEET,RightTroll

In [112]:
def series_string_to_datetime (series):
    format_str = '%m/%d/%Y %H:%M' # The format
    return series.apply(lambda x: datetime.datetime.strptime(x, format_str))
print(tweets.shape)
tweets = tweets[tweets['language'] == 'English']
print(tweets.shape)
tweets['publish_date'] = series_string_to_datetime(tweets['publish_date'])

(2973371, 8)
(2128963, 8)

In [113]:
tweets = tweets[tweets['publish_date'] <= datetime.date(2016,11,8)]
tweets.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:

Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

(1160773, 8)

In [114]:
tweets.rename(columns = {'content': 'tweet_text'}, inplace=True)
tweets = tweets.drop('language', axis = 1)
tweets.tweet_text = tweets.tweet_text.astype(str)
tweets.head()

,author,tweet_text,publish_date,following,followers,post_type,account_category
425,1D_NICOLE_,#FoodPoisoning is not a joke! #Walmart #KochFa...,2015-11-26 22:20:00,48,40,RETWEET,Fearmonger
426,1D_NICOLE_,Thanks God that #turkey i ate few days ago was...,2015-11-26 22:35:00,48,40,RETWEET,Fearmonger
428,1D_NICOLE_,"who's got the worst make up ever, don't tell m...",2015-05-25 12:38:00,59,51,NaN,Fearmonger
429,1D_NICOLE_,"I hurt easy, I just don't show it. You can hur...",2015-05-25 12:38:00,59,51,NaN,Fearmonger
430,1D_NICOLE_,« The young are permanently in a state resembl...,2015-05-25 12:39:00,59,51,NaN,Fearmonger

In [178]:
final = tweets.merge(merged, on='tweet_text', how='inner')

In [179]:
final.post_type = final.post_type.fillna('ORIGINAL')

In [180]:
final.post_type = final.post_type.astype('category')

In [181]:
final.post_type.cat.categories

Index(['ORIGINAL', 'QUOTE_TWEET', 'RETWEET'], dtype='object')

In [185]:
group = final[['tweet_text', 'post_type']].groupby(['tweet_text'])

In [186]:
i = 0
for name, g in group:
    print(g)
    i = i + 1
    if i > 150:
        break

                                               tweet_text post_type
505391  !! RT Girls want two things Weight 2 Eat @dead...  ORIGINAL
                                               tweet_text post_type
505103  !!!! Cut when you're feeling fat then you can ...  ORIGINAL
                                                tweet_text post_type
1591018  !!!!!!! A LIL LOUDER FOR THE WHITE FEMINISTS I...  ORIGINAL
                                               tweet_text    post_type
520436  !!!!!!!! Great comment. At least we can fire '...  QUOTE_TWEET
520437  !!!!!!!! Great comment. At least we can fire '...  QUOTE_TWEET
                                               tweet_text    post_type
520936  !!!I I was getting to the place for an hour in...  QUOTE_TWEET
520937  !!!I I was getting to the place for an hour in...  QUOTE_TWEET
                                                tweet_text post_type
1594443  !!!WARNING!!!GRAPHIC CONTENT!!! Footage allege...  ORIGINAL
                                                tweet_text post_type
1373664  !#RejectedTimeCapsuleItems Apparently, a time ...  ORIGINAL
                                                tweet_text post_type
1092181  !We need to be a good example for the next Pat...  ORIGINAL
                                                tweet_text post_type
1594645  " #Kurdish Peshmerga fighters will get weapons...  ORIGINAL
                                                tweet_text post_type
1015218  " Always " GYM TIME,FUN TIME"" yh bro gym is b...  ORIGINAL
                                               tweet_text post_type
509704  " Do you exercise often? YorN" no ? Pop Myx Wi...  ORIGINAL
                                               tweet_text post_type
504995  " Eating spicy food boosts your metabolism and...  ORIGINAL
                                                tweet_text post_type
1380962  " Enjoy when you can, and endure when you must...  ORIGINAL
1380963  " Enjoy when you can, and endure when you must...  ORIGINAL
1380964  " Enjoy when you can, and endure when you must...  ORIGINAL
1380965  " Enjoy when you can, and endure when you must...  ORIGINAL
1380966  " Enjoy when you can, and endure when you must...  ORIGINAL
1380967  " Enjoy when you can, and endure when you must...  ORIGINAL
1380968  " Enjoy when you can, and endure when you must...  ORIGINAL
1380969  " Enjoy when you can, and endure when you must...  ORIGINAL
1380970  " Enjoy when you can, and endure when you must...  ORIGINAL
1380971  " Enjoy when you can, and endure when you must...  ORIGINAL
1380972  " Enjoy when you can, and endure when you must...  ORIGINAL
1380973  " Enjoy when you can, and endure when you must...  ORIGINAL
1380974  " Enjoy when you can, and endure when you must...  ORIGINAL
1380975  " Enjoy when you can, and endure when you must...  ORIGINAL
                                                tweet_text post_type
1376104  " I don't love you anymore. But it takes more ...  ORIGINAL
                                               tweet_text post_type
835841  " I'm not drunk! Yet. " #LittleKnownHolidayTra...  ORIGINAL
                                               tweet_text post_type
501158  " KENYA DAIRY BOARD MD Machira Gichohi exits t...  ORIGINAL
                                                tweet_text post_type
1014912  " Laughter has been a proven way to lose weigh...  ORIGINAL
                                               tweet_text post_type
506350  " Laughter has been a proven way to lose weigh...  ORIGINAL
                                               tweet_text post_type
503078  " Spanish, Italian stocks hit hardest a roundu...  ORIGINAL
                                               tweet_text post_type
502849  " Stocks from the SMB Scanner with pre-market ...  ORIGINAL
                                                tweet_text post_type
1226636  " Those who commit the murders, write the repo...  ORIGINAL
                                               tweet_text post_type
505359  " Two things every girl wants to lose weight a...  ORIGINAL
                                               tweet_text post_type
738976  " We must learn to live the Afrikan blood way ...  ORIGINAL
                                                tweet_text post_type
1349199  " We need to take a real 'boots on the ground'...  ORIGINAL
                                                tweet_text post_type
1283663  " chiara oppo reminds me of Obama" the accurac...  ORIGINAL
1283664  " chiara oppo reminds me of Obama" the accurac...  ORIGINAL
                                                tweet_text post_type
1281025  " green light go make money 's I ain't stoppin...  ORIGINAL
                                               tweet_text post_type
506119  " if only i could lose weight like i lose frie...  ORIGINAL
                                               tweet_text post_type
501564  " lol just got rekt" the falcon ... So, stocks...  ORIGINAL
                                                tweet_text post_type
1014874  " necesito un workout partner" @EmilyZachowASU...  ORIGINAL
                                               tweet_text post_type
501731  " someone could easily stock you because you g...  ORIGINAL
                                               tweet_text post_type
510562  " workout iz the best exersise @HarryMac__ @br...  ORIGINAL
                                                tweet_text post_type
1371609  ""I feel like I finally found my place..." #Hi...  ORIGINAL
                                                tweet_text post_type
1525477  ""I knew there was corruption, but the level o...   RETWEET
1525478  ""I knew there was corruption, but the level o...  ORIGINAL
                                        tweet_text post_type
538404  "#2016ElectionIn3Words you chose President  ORIGINAL
538405  "#2016ElectionIn3Words you chose President  ORIGINAL
538406  "#2016ElectionIn3Words you chose President  ORIGINAL
538407  "#2016ElectionIn3Words you chose President  ORIGINAL
538408  "#2016ElectionIn3Words you chose President  ORIGINAL
538409  "#2016ElectionIn3Words you chose President  ORIGINAL
538410  "#2016ElectionIn3Words you chose President  ORIGINAL
538411  "#2016ElectionIn3Words you chose President  ORIGINAL
538412  "#2016ElectionIn3Words you chose President  ORIGINAL
                                               tweet_text post_type
282792  "#Abaaoud and his whore cousin/girlfriend are ...  ORIGINAL
282793  "#Abaaoud and his whore cousin/girlfriend are ...  ORIGINAL
282794  "#Abaaoud and his whore cousin/girlfriend are ...  ORIGINAL
282795  "#Abaaoud and his whore cousin/girlfriend are ...  ORIGINAL
                                               tweet_text post_type
317729  "#AskTheGays - sagte Tramp - They love me!" ht...   RETWEET
317730  "#AskTheGays - sagte Tramp - They love me!" ht...  ORIGINAL
                                                tweet_text post_type
1371087  "#BenCarson doesn't understand how the debt ce...  ORIGINAL
                                               tweet_text post_type
318108  "#BillCosby  was the first black to win a best...  ORIGINAL
                                               tweet_text post_type
125904  "#BlackLivesMatter ??It should be #AllLivesMat...  ORIGINAL
                                                tweet_text post_type
1376703  "#Brussels #Abaaoud and his whore cousin/girlf...  ORIGINAL
                                                tweet_text post_type
1294882  "#Brussels #IslamKills Rest in pieces, suicide...  ORIGINAL
                                                tweet_text post_type
1515118  "#Brussels All under the same umbrella with di...  ORIGINAL
                                                tweet_text post_type
1521846  "#Brussels Time to shut it down , too many peo...  ORIGINAL
                                                tweet_text post_type
1370638  "#HillaryClinton is smearing Bernie Sanders as...  ORIGINAL
                                                tweet_text post_type
1141370  "#Iran will not be able to get a nuclear weapo...  ORIGINAL
                                               tweet_text post_type
580839  "#IslamKills #Abaaoud and his whore cousin/gir...  ORIGINAL
                                                tweet_text post_type
1384049  "#IslamKills All under the same umbrella with ...  ORIGINAL
1384050  "#IslamKills All under the same umbrella with ...  ORIGINAL
1384051  "#IslamKills All under the same umbrella with ...  ORIGINAL
1384052  "#IslamKills All under the same umbrella with ...  ORIGINAL
                                               tweet_text post_type
660984  "#IslamKills Qur'an 9:73 Wage Jihad against th...  ORIGINAL
                                                tweet_text post_type
1421921  "#IslamKills Rest in pieces, suicide vest-wear...  ORIGINAL
                                  tweet_text post_type
1344293  "#IslamKills my prediction for 2016  ORIGINAL
                                                tweet_text post_type
1201329  "#IslamKills very few of the refugees are terr...  ORIGINAL
                                                tweet_text post_type
1594468  "#Kuwait is expected to sign a deal to buy 28 ...  ORIGINAL
                                               tweet_text post_type
687208  "#MakeMeHateYouInOnePhrase  - How old is your ...   RETWEET
                                               tweet_text post_type
517431  "#Racial #justice is not just our cause—it’s a...  ORIGINAL
                                                tweet_text post_type
1344878  "#Republicans believe every day is 4th of July...  ORIGINAL
                                               tweet_text post_type
835615  "#RuinADinnerInOnePhrase me: why is the food c...   RETWEET
835616  "#RuinADinnerInOnePhrase me: why is the food c...   RETWEET
                                               tweet_text post_type
302344  "#SextingWentWrongWhen I scared my bae by prom...   RETWEET
302345  "#SextingWentWrongWhen I scared my bae by prom...   RETWEET
302346  "#SextingWentWrongWhen I scared my bae by prom...   RETWEET
302347  "#SextingWentWrongWhen I scared my bae by prom...   RETWEET
302348  "#SextingWentWrongWhen I scared my bae by prom...   RETWEET
                                               tweet_text post_type
317130  "#SextingWentWrongWhen him: "I just want to ta...   RETWEET
                                               tweet_text post_type
251551  "#SextingWentWrongWhen me: i'm wet him: need a...   RETWEET
251552  "#SextingWentWrongWhen me: i'm wet him: need a...   RETWEET
251553  "#SextingWentWrongWhen me: i'm wet him: need a...   RETWEET
251554  "#SextingWentWrongWhen me: i'm wet him: need a...   RETWEET
                                               tweet_text post_type
317156  "#SextingWentWrongWhen me: what'd u do if u we...   RETWEET
317157  "#SextingWentWrongWhen me: what'd u do if u we...   RETWEET
                                                tweet_text post_type
1594781  "#SouthKorea warned away a pair of #Chinese mi...  ORIGINAL
                                                tweet_text post_type
1055558  "#StopIslam #Abaaoud and his whore cousin/girl...  ORIGINAL
                                               tweet_text post_type
317700  "#StopIslam #IslamKills All under the same umb...  ORIGINAL
                                                tweet_text post_type
1201316  "#StopIslam All under the same umbrella with d...  ORIGINAL
                                                tweet_text post_type
1176266  "#StopIslam Rest in pieces, suicide vest-weari...  ORIGINAL
                                                tweet_text post_type
1349167  "#Trump is the only candidate that has publicl...  ORIGINAL
                                                tweet_text post_type
1200182  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200183  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200184  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200185  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200186  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200187  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200188  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200189  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200190  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
1200191  "#TrumpBecause Dear ##GOP seems your true colo...  ORIGINAL
                                               tweet_text post_type
317481  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317482  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317483  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317484  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317485  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317486  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317487  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317488  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317489  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317490  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317491  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317492  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317493  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317494  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317495  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
317496  "#TrumpBecause Just 1 more thing 4 Trump to do...  ORIGINAL
                                                tweet_text post_type
1345884  "'Black Lives Matter' is a political construct...  ORIGINAL
                                                tweet_text post_type
1525584  "'Black Lives Matter' is a political construct...  ORIGINAL
                                                tweet_text post_type
1525236  "'Black Lives Matter' is a political construct...  ORIGINAL
                                               tweet_text post_type
516044  ".. when lives are lost unjustly we must stand...  ORIGINAL
                                               tweet_text post_type
512682  "... I have always thought that there was only...  ORIGINAL
                                               tweet_text post_type
516089  ".... whatever you do you have to keep moving"...  ORIGINAL
                                               tweet_text post_type
405294  "...I'm changing the things I cannot accept." ...  ORIGINAL
                                                tweet_text post_type
1591440  "...The goal is to live in a world where my ra...  ORIGINAL
                                                tweet_text post_type
1279966  "...i say vote for me and together when millio...  ORIGINAL
                                                tweet_text post_type
1229175  "...the ultimate authority, wherever the deriv...  ORIGINAL
1229176  "...the ultimate authority, wherever the deriv...  ORIGINAL
1229177  "...the ultimate authority, wherever the deriv...  ORIGINAL
1229178  "...the ultimate authority, wherever the deriv...  ORIGINAL
1229179  "...the ultimate authority, wherever the deriv...  ORIGINAL
1229180  "...the ultimate authority, wherever the deriv...  ORIGINAL
                                                tweet_text post_type
1294509  "..whoever kills a soul unless for a soul or d...  ORIGINAL
                                               tweet_text post_type
506752  ".and a diet Coke please Thanks." @cubsgirl23 ...  ORIGINAL
                                               tweet_text post_type
506649  ".and a large, diet coke." @VlVARONALDO @EmaLe...  ORIGINAL
                                               tweet_text post_type
521132  "1, 2, 3, 4 how many niggers are in my store" ...   RETWEET
521133  "1, 2, 3, 4 how many niggers are in my store" ...  ORIGINAL
521134  "1, 2, 3, 4 how many niggers are in my store" ...   RETWEET
                                                tweet_text post_type
1523721  "11% of American people say Hillary's honest a...  ORIGINAL
                                                tweet_text post_type
1345456  "11% of American people say [HRC]'s honest and...  ORIGINAL
                                                tweet_text post_type
1377661  "23 positions in a 1 night stand. I'll only ca...  ORIGINAL
                                                tweet_text post_type
1375675  "29% US Voters say they are at least somewhat ...  ORIGINAL
                                               tweet_text post_type
502695  "3 Stocks That Could Make Huge Moves This Week...  ORIGINAL
                                             tweet_text post_type
3736  "4 police officers murdered in the last 11 mon...  ORIGINAL
3737  "4 police officers murdered in the last 11 mon...   RETWEET
3738  "4 police officers murdered in the last 11 mon...   RETWEET
3739  "4 police officers murdered in the last 11 mon...   RETWEET
3740  "4 police officers murdered in the last 11 mon...   RETWEET
3741  "4 police officers murdered in the last 11 mon...   RETWEET
                                               tweet_text post_type
514540  "A Riot Is the Language of the Unheard"  MLK #...  ORIGINAL
                                                tweet_text post_type
1184871  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184872  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184873  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184874  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184875  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184876  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184877  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184878  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184879  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184880  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184881  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184882  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184883  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184884  "A day without laughter is a day wasted." - Ch...  ORIGINAL
1184885  "A day without laughter is a day wasted." - Ch...  ORIGINAL
                                               tweet_text post_type
500144  "A deadline is a deadline", said NL deputy min...  ORIGINAL
                                               tweet_text post_type
862629  "A free people ought not only to be armed, but...  ORIGINAL
862630  "A free people ought not only to be armed, but...  ORIGINAL
862631  "A free people ought not only to be armed, but...  ORIGINAL
862632  "A free people ought not only to be armed, but...  ORIGINAL
                                               tweet_text post_type
501446  "A joy shared is a joy doubled." -C.S. Lewis F...  ORIGINAL
                                                tweet_text post_type
1303793  "A lot of people were bleeding,' witnesses des...  ORIGINAL
                                                tweet_text post_type
1303794  "A lot of people were bleeding,' witnesses des...  ORIGINAL
                                               tweet_text post_type
453145  "A man is what he thinks about all day long." ...  ORIGINAL
453146  "A man is what he thinks about all day long." ...  ORIGINAL
453147  "A man is what he thinks about all day long." ...  ORIGINAL
453148  "A man is what he thinks about all day long." ...  ORIGINAL
453149  "A man is what he thinks about all day long." ...  ORIGINAL
453150  "A man is what he thinks about all day long." ...  ORIGINAL
453151  "A man is what he thinks about all day long." ...  ORIGINAL
453152  "A man is what he thinks about all day long." ...  ORIGINAL

1282236  "And so I refuse to act as if this is the new ...  ORIGINAL
                                                tweet_text post_type
1280468  "And that’s a struggle we must win." —Bernie S...  ORIGINAL
                                               tweet_text post_type
739013  "And they say No One fought for Us" https://t....  ORIGINAL
                                                tweet_text post_type
1136060  "And when you’re a sexy Dominican model they l...  ORIGINAL
                                                tweet_text post_type
1229046  "And yet so many Jew-haters worldwide will nev...  ORIGINAL
                                                tweet_text post_type
1279885  "Anger now is the new charisma. That's what se...  ORIGINAL
                                               tweet_text post_type
520824  "Another Black person killed by police becomes...  ORIGINAL
520825  "Another Black person killed by police becomes...   RETWEET
520826  "Another Black person killed by police becomes...   RETWEET
                                               tweet_text post_type
689156  "Ant Man" really worth seeing? Hope so, gonna ...  ORIGINAL
                                                tweet_text post_type
1137137  "Anti-Muslim Is Anti-American" is trending So,...  ORIGINAL

In [167]:
group.count().sort_values('post_type',ascending=False)

                                                    post_type
tweet_text
Celebrity photos of the week  #showbiz                   3640
Daily Celebrity Watch  #celebs #news                      975
Daily celebrity fashion picks: Hot or not?  #ce...        720
On the Air  #sports                                       616
Reactions: Letters to the Editor  #science                378
#local #news AZ365: Arizona life 2015                     310
it's absolutely unbelievable that world is too ...        276
Winning numbers drawn in 'Daily 4 Evening' game...        207
#local #news Arizona throwback photo of the day           161
Winning numbers drawn in 'All or Nothing Night'...        150
Winning numbers drawn in 'Daily 4 Night' game  ...        140
Winning numbers drawn in 'All or Nothing Day' g...        138
Until Black on Black crime results in cries of ...        120
People will forget what U said, people will for...        116
Winning numbers drawn in 'All or Nothing Evenin...        102
Judge rejects county's request for new trial in...         92
Every great achievement is the story of a flami...         88
Winning numbers drawn in 'Mega Millions' game  ...         88
#politics Jeb Bush Announcement Coming                     88
Climb the mountain so you can see the world, no...         88
Williams tops Stephens; Sharapova out; Djokovic...         84
RT @RNRIllinois: Remember Kids. Dont do CNN. It...         84
Minnesota news in brief at 7:58 p.m. CDT  #health          81
If you do not enjoy what you are doing, you wil...         80
Winning numbers drawn in 'Lotto' game  #Texas              74
#IGetDepressedWhen I get laid- post coitum omne...         72
Best week in Washington: Obama's legacy  #politics         72
#HappyBirthdayHarryTruman! He’s one of my perso...         70
He hadn’t a colledge degree and still did great...         70
Recent editorials from Texas newspapers  #Texas...         69
...                                                       ...
Euric Cain tried to 'harm himself' inside Orlea...          0
Euric Cain's couple-rape booking might not be l...          0
Euro 2016 final attack risk grows with French i...          0
Euro 2016 organizers say not aware of any speci...          0
Euro zone haggles through the night with Greece...          0
Euro zone gives Greece until Sunday for debt de...          0
Euro zone demands more from Greece, delays deci...          0
Euro zone clinches deal with Greece after all-n...          0
Euro zone argues into the night with Greece on ...          0
Euro stocks see worst day since 2011 as Greek c...          0
Euro stocks see worst day since 2011 as Greece ...          0
Euro stocks rocked Greece crisis eur fx forex @...          0
Euro stocks face worst day since 2011 on Greek ...          0
Euro ministers set to launch Greek bailout, woo...          0
Euro ministers give blessing to Greek bailout, ...          0
Euro lenders to pass bailout judgment as Greece...          0
Euro finance ministers reject Greek extension r...          0
Euro drops below 11, Hong Kong stocks dive 363 ...          0
Euro down, stocks set to tank, Grexit potential...          0
Euro court rejects French comic's plea over fin...          0
Euro countries hold first talks on Greek debt m...          0
Euro Group of finance ministers gather in Bruss...          0
Euro Cup Final: Where you can watch it  #sports             0
Euro Crisis just Start 's give panic. Now Euro ...          0
Euro 2016: Tiny Iceland shocks England  #sports             0
Euro 2016 will not be moved from France: German...          0
Euro 2016 violence spreads to second French cit...          0
Euro 2016 violence spreads to second French cit...          0
Euro 2016 security chief 'cool and confident' d...          0
￡5 Xbox vouchers and PS have been out of stock ...          0

[505104 rows x 1 columns]

In [140]:
text = final['tweet_text'].value_counts()

In [99]:
final.to_csv(access_folder('generated')+'final_merged_tweets.csv')